@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo ao SIGO</h1>
    <p>Saiba mais sobre a <a href="https://transformacaodigital.com/o-que-e-transformacao-digital/">transformação digital.</a>.</p>
</div>